.deploy-contract{
    height: 800px;
    margin: 30px 50px;
    padding: 20px;

    color: rgb(228, 227, 227);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.youtube-section
{
    margin-bottom: 40%;
}

.deployedAt{
    height: 50px;
    color: #baa189;
}

.params{
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works {
  padding: 15px;
  background-color: #284462;
  border-radius: 10px;
}



.how-it-works h3 {
  font-size: 25px;
  margin: 20px;
  color: #baa189;
}

.how-it-works ol {
  list-style: decimal;
  margin-left: 40px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.how-it-works ul {
  list-style: disc;
  margin-left: 40px;
}

.how-it-works li {
  margin-bottom: 10px;
}

label, input {
  padding: 10px;
  margin: 10px;
}

.youtube-section h3{
  font-size: 25px;
  margin: 20px;
  color: #baa189;
 
}

button{
    border: 2px solid #b3ba89;
    background: #b3ba89;
    padding: 6px 10px;
}

.deploy-params {
    display: flex;
    flex-direction: column;
    align-items: center;
}


